name: Release
on:
  push:
    tags:
      - 'v*' # v1.0.0 などのタグプッシュで起動

jobs:
  build:
    name: Build for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: fluno
            asset_name: fluno-linux-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: fluno.exe
            asset_name: fluno-windows-amd64.exe
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: fluno
            asset_name: fluno-macos-amd64

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/${{ matrix.target }}/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}
